<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ol>
        {% for een_item in items %}
            <li>ID: {{een_item[0]}}<br>
            Naam: {{ een_item[1] }}<br>
            Aantal: {{ een_item[2] }}<br></li>
        {% endfor %}
    </ol>
</body>
</html>